
@{
    ViewBag.Title = "ConsultantMenu";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Consultant Menu</h2>
<br/>
<br/>
<table class="table table-responsive">
    <tbody>
        <tr>
            <td><input type="button" style="height:50px;width:200px" title="New Timesheet" value="New Timesheet" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Timesheets")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="View Tickets" value="View Tickets" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Tickets")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="File Storage" value="File Storage" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Files")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="Apply for Leave" value="Apply for Leave" class="btn btn-primary" onclick="location.href='@Url.Action("MyLeave", "Leaves")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="View Calendar" value="View Calendar" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Calendar")'" /></td>
        </tr>
        <tr>
            <td><input type="button" style="height:50px;width:200px" title="New Timesheet" value="Project Timesheet" class="btn btn-primary" onclick="location.href='@Url.Action("ProjectTimeSheet", "Timesheets")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="Payroll" value="Payroll" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Payrolls")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="Add Products" value="Add Products" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Products")'" /></td>
            
<td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>


