
@{
    ViewBag.Title = "ManagerMenu";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Administrator Menu</h2>
<br/>
<br/>
<table class="table table-responsive">
    <thead>
    <tr>
        <th class="h4" style="color: white">CONSULTANT ITEMS</th>
        <th class="h4" style="color: white">CLIENT ITEMS</th>
        <th class="h4" style="color: white">GENERAL ITEMS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="button" style="height:50px;width:200px" title="View Consultants" value="View Consultant" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Consultants")'" /></td>        
        <td><input type="button" style="height: 50px; width: 200px" title="View Clients" value="View Clients" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Clients")'"/></td>
        <td><input type="button" style="height: 50px; width: 200px" title="Administer Roles" value="Administer Roles" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Roles")'"/></td>
    </tr>
    <tr>
        <td><input type="button" style="height:50px;width:200px" title="View Timesheets" value="View Timesheets" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Timesheets")'" /></td>
        <td><input type="button" style="height:50px;width:200px" title="Tickets" value="Tickets" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Tickets")'" /></td>
        <td><input type="button" style="height:50px;width:200px" title="Document warehouse" value="Document warehouse" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Files")'" /></td>
    </tr>
    <tr>
        <td><input type="button" style="height:50px;width:200px" title="Ratings" value="Ratings" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Rating")'" /></td>
        <td><input type="button" style="height:50px;width:200px" title="Budget" value="Budget" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Budget")'" /></td>
        <td><input type="button" style="height:50px;width:200px" title="IM Dashboard" value="IM Dashboard" class="btn btn-primary" onclick="location.href='@Url.Action("Dashboard", "Dashboard")'" /></td>
    </tr>
        <tr>
            <td><input type="button" style="height:50px;width:200px" title="Commission" value="Commission" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Commissions")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="View Travel Code" value="View Travel Code" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Travel")'" /></td>
            <td><input type="button" style="height:50px;width:200px" title="Send Newsletter" value="Send Newsletter" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "SendMailer")'" /></td>
</tr>
       
          
       
        <tr>
            <td><input type="button" style="height: 50px; width: 200px" title="Leave Requests" value="Leave Requests" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Leaves")'" /></td>
          
            <td><input type="button" style="height: 50px; width: 200px" title="View Projects" value="View Projects" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Projects")'" /></td>

            <td><input type="button" style="height:50px;width:200px" title="Manage Newsletter" value="Manage Newsletter" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Newsletter")'" /></td>
    </tr>  
   
    <tr>
        <td><input type="button" style="height:50px;width:200px" title="Timesheet History" value="Timesheet History" class="btn btn-primary" onclick="location.href='@Url.Action("History", "TimeSheetHistory")'" /></td>
        <td></td>
        <td><input type="button" style="height:50px;width:200px" title="Calendar" value="Calendar" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Calendar")'" /></td>
    </tr>
    </tbody>
</table>





