@model TSAR.Models.Leave

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType.LeaveTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType.LeaveTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDecsription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDecsription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccumulatedLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccumulatedLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
