@model IEnumerable<TSAR.Models.Consultant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>List of consultants</h2>
<br />
<br />
<p>
    <div align="center">
        <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create</a>
    </div>
</p>
<br />
<br />
<p>
    @using (Html.BeginForm("Index", "Consultants", FormMethod.Get))
    {
        <b>Search by:</b><font color="Black"> @Html.TextBox("Search")<input type="submit" value="Search" style="color: black" /></font>}
</p>
<br />
<br />
<div style="overflow-x: auto">
<table class="table bg-light-gray">
    <tr>
        <th>
              @Html.DisplayNameFor(model => model.FirstName) 
        </th>
        <th>
                @Html.DisplayNameFor(model => model.LastName) 
        </th>
        <th>
              @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.ConsultantAddress)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
               @Html.DisplayNameFor(model => model.ConsultantType)
        </th>
        <th>
               @Html.DisplayNameFor(model => model.CommissionId)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Password)
        </th>
        @*<th>
                    <font color="white">   @Html.DisplayNameFor(model => model.RoleType)</font>
                </th>*@
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                  @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.ConsultantAddress)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.ConsultantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionId)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <input type="button" title="Edit" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Consultants", new { id = item.ConsultantNum })'" />
            </td>
            <td>
                <input type="button" title="Edit" value="Details" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Consultants", new { id = item.ConsultantNum })'" />
            </td>
            <td>
                <input type="button" title="Delete" value="Delete" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Consultants", new { id = item.ConsultantNum })'" />
            </td>

        </tr>
    }
</table>
    </div>
