@model TSAR.Models.Projects

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Projects</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div align="Center">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label" })</div>
            <div class="col-md-4 col-md-offset-4">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div align="Center">
                @Html.LabelFor(model => model.Id, "Id", htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-4 col-md-offset-4">
                    @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div align ="Center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <div align="center">
        <a id="button" href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
    </div>  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
