@model TSAR.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>




        @*<dt>
            @Html.DisplayNameFor(model => model.ProjectLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLeader)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ManageTravel.TravelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageTravel.TravelCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManageTravel.TravelFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageTravel.TravelFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelCode2)
        </dt>*@

        @*@*<dd>
            @Html.DisplayFor(model => model.TravelCode2)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a id="button" href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
