@model IEnumerable<TSAR.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectLeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectLeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
