@model TSAR.Models.MailModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
<head>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?4kX9439Xlk3AULQwEJ7mX7AUIsQVuohw"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
</head>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Mail has been sent successfully');
        }
    });
</script>
<fieldset>

    @using (@Html.BeginForm("Index", "SendMailer", "EmailTo", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {


        <form>
            <div class="col-md-11" align="center"><h2>Send Email </h2></div>
            <div class="form-group">
                <div class="col-md-11">
                    <font color="white">To:</font>
                    <font color="black">@Html.TextBoxFor(m => m.To, new { @class = "form-control" })</font>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <font color="white">Subject:</font>

                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                </div>

            </div>


            <div class="form-group" align="center">
                <div class="col-md-11">

                    <font color="white">Attachment:</font>

                    <p>
                        <input class="btn btn-primary " type="file" name="fileUploader" />
                    </p>
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-11">
                    <font color="white">Body:</font>
                    @Html.TextAreaFor(m => m.Body, new { @height = "236px", @class = "form-control" })
                </div>


            </div>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.ValidationSummary()
                    <input class="btn btn-primary" type="submit" value="Send" />
                </div>

            </div>



        </form>

    }
</fieldset>

