@model IEnumerable<TSAR.Models.Tasks>
@using TSAR.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="font-family:Arial">

    <ul>
        @foreach (Tasks task in Model)
        {
            <li>
                @Html.ActionLink(task.Description, "Details", new { id = task.TaskID })
            </li>
            <dv>
                @Html.ActionLink("Remove", "Delete", new { id = task.TaskID }, new { @class = "btn btn-primary" })
            </dv>
        }
   </ul>

</div>

<div>
    @Html.ActionLink("Begin your task", "ViewTasks")
    @Html.ActionLink("Consultant Menu","ConsultantMenu","Manage")
</div>



