@model IEnumerable<TSAR.Models.Tasks>
@using TSAR.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div align="center">
    <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create new</a>
</div>
<div style="font-family:Arial">

    <ul>
        @foreach (Tasks task in Model)
        {
            <li>
                @Html.ActionLink(task.Description, "Details", new { id = task.TaskID })
            </li>
            <dv>
                @Html.ActionLink("Remove", "Delete", new { id = task.TaskID }, new { @class = "btn btn-primary" })
            </dv>
        }
   </ul>

</div>

<div>
    <div align="center">
        <a id="button" href="@Url.Action("ViewTasks")" class="btn btn-primary">Begin your task</a>
    </div>
    <p></p>
    <div align="center">
        <a id="button" href="@Url.Action("ConsultantMenu","Manage")" class="btn btn-primary">Back To List</a>
    </div>
    
    @*@Html.ActionLink("Begin your task", "ViewTasks")
    @Html.ActionLink("Consultant Menu", "ConsultantMenu", "Manage")*@
</div>



