@model TSAR.Models.Payroll
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
 
<h2>Calculated Salary</h2>
 

<div>
    <h4>Payroll for @DateTime.Now.ToString("MMMM") </h4>
   
    <table>
        <tr>
            <td>
                <h4>Additional Information</h4>



                @Html.DisplayFor(model => model.Basic)

            </td>
            <td>
                <h4>Commission at @ViewBag.NoTimesheets of Timesheets</h4>

                

                @Html.DisplayFor(model => model.Comm)



            </td>
            <td>
                <h4>Tax</h4>

               
                @Html.DisplayFor(model => model.tax)

            </td>
            <td>
                <h4>Total</h4>

            
                @Html.DisplayFor(model => model.tax)
                @ViewBag.NetPay

            </td>
        </tr>
    </table>
    
   
   
        
 
  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PayrollId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

