@model IEnumerable<TSAR.Models.Travel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Travel</h2>

<p>
    <div align="center">
        <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create</a>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            <font color="white">      @Html.DisplayNameFor(model => model.Client.ClientName)</font>
        </th>
        <th>
            <font color="white">       @Html.DisplayNameFor(model => model.ClientAddress)</font>
        </th>
       
        <th>
            <font color="white">    @Html.DisplayNameFor(model => model.Distance)</font>
        </th>
        <th>
            <font color="white">       @Html.DisplayNameFor(model => model.TravelFee)</font>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <font color="gold">     @Html.DisplayFor(modelItem => item.Client.ClientName)</font>
            </td>
            <td>
                <font color="gold">       @Html.DisplayFor(modelItem => item.ClientAddress)</font>
            </td>
           
            <td>
                <font color="gold">    @Html.DisplayFor(modelItem => item.Distance)</font>
            </td>
            <td>
                <font color="gold">     @Html.DisplayFor(modelItem => item.TravelFee)</font>
           </td>
            <td>
                <input type="button" title="Delete" value="Delete" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Travel", new { id = item.TravelId })'" />
            </td>
            <td>
                <input type="button" title="Delete" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Travel", new { id = item.TravelId })'" />
            </td>
            <td>
                <input type="button" title="Delete" value="Details" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Travel", new { id = item.TravelId })'" />
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
<div>
    <a href="@Request.UrlReferrer" class="btn btn-primary btn-lg" title="Back to list">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
</div>