@model TSAR.Models.AccomodationFiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccomodationFiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.file_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_bytes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_bytes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.accomodationfile_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
