@model TSAR.Models.ManageTravel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ManageTravel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TravelCode, htmlAttributes: new { @class = "col-md-2 col-md-offset-5" })
            <div class="col-md-offset-5 col-md-2">
                @Html.EditorFor(model => model.TravelCode, new { htmlAttributes = new { @class = "form-control", style = "text-transform:uppercase;" } })
                @Html.ValidationMessageFor(model => model.TravelCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "col-md-2 col-md-offset-5" })
            <div class="col-md-offset-5 col-md-2">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "col-md-2 col-md-offset-5" })
            <div class="col-md-offset-5 col-md-2">
                @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelFee, htmlAttributes: new { @class = "col-md-2 col-md-offset-5" })
            <div class="col-md-offset-5 col-md-2">
                @Html.EditorFor(model => model.TravelFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div div align="center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div align="center">
    <a id="button" href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
