@model IEnumerable<TSAR.Models.ManageTravel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Index", "ManageTravel", FormMethod.Get))
    {
        <b>Search by:</b><font color="Black"> @Html.TextBox("Search")<input type="submit" value="Search" style="color: black" /></font>}
</p>
<p>
    <div align="center">
        <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create</a>
    </div>
</p>
<table class="table">
    <tr>

        <th>
            <font color="white">   @Html.DisplayNameFor(model => model.TravelCode)</font>
        </th>
        @*<th>
            <font color="white"> @Html.DisplayNameFor(model => model.Rate)</font>
        </th>*@
        <th>
            <font color="white"> @Html.DisplayNameFor(model => model.Distance)</font>
        </th>
        <th>
            <font color="white">@Html.DisplayNameFor(model => model.TravelFee)</font>
        </th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <font color="gold" style="text-transform:uppercase;">       @Html.DisplayFor(modelItem => item.TravelCode)</font>
            </td>
            @*<td>
                <font color="gold"> @Html.DisplayFor(modelItem => item.Rate)</font>
            </td>*@
            <td>
                <font color="gold"> @Html.DisplayFor(modelItem => item.Distance)</font>
            </td>
            <td>
                <font color="gold"> @Html.DisplayFor(modelItem => item.TravelFee)</font>
            </td>
            <td>
            <td>
                <input type="button" title="Edit" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "ManageTravel", new { id = item.TravelCode })'" />


                <input type="button" title="Edit" value="Details" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "ManageTravel", new { id = item.TravelCode })'" />

                <input type="button" title="Delete" value="Delete" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "ManageTravel", new { id = item.TravelCode })'" />
            </td>
            </td>
        </tr>
    }

</table>