@model IEnumerable<TSAR.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.ClientName)</font>  
        </th>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.Email)</font>
</th>
        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.FaultDescription)</font>
</th>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.Priority)</font>
</th>
        <th>
            <font color="gold">  @Html.DisplayNameFor(model => model.Date)</font>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.ClientName)</font>
</td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Email)</font>
</td>
        <td>
            <font color="gold">@Html.DisplayFor(modelItem => item.FaultDescription)</font>
</td>
        <td>
            <font color="gold">  @Html.DisplayFor(modelItem => item.Priority)</font>
        </td>
        <td>
            <font color="gold">  @Html.DisplayFor(modelItem => item.Date)</font>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
