@using System.Web.UI.WebControls
@model IEnumerable<TSAR.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Tickets</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <div >

            <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create</a>
        </div>
    }
    <br />
    <div align="center">

        <a id="button" href="@Url.Action("MyTickets")" class="btn btn-primary">My Tickets</a>
    </div>
</p>
@using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
{
    <b>Status</b><font color="black">@Html.DropDownList("status",new SelectList(ViewBag.Status), new { onchange = "this.form.submit()" })</font>
}
<table class="table">
    <tr>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.TicketReference)</font>
        </th>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.ClientName)</font>
        </th>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.Email)</font>
        </th>
        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.FaultDescription)</font>
        </th>
        <th>
            <font color="gold">@Html.DisplayNameFor(model => model.Priority)</font>
        </th>
        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.Date)</font>
        </th>

        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.Category)</font>
        </th>
        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.Status)</font>
        </th>
        <th>
            <font color="gold"> @Html.DisplayNameFor(model => model.ConsultantName)</font>
        </th>
        <th>
           
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.TicketReference)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.ClientName)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Email)</font>
        </td>
        <td>
            <font color="gold">@Html.DisplayFor(modelItem => item.FaultDescription)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Priority)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Date)</font>
        </td>


        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Category)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.Status)</font>
        </td>
        <td>
            <font color="gold"> @Html.DisplayFor(modelItem => item.ConsultantName)</font>
        </td>
        <td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <input type="button" title="Edit" value="Edit" class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "Tickets", new {id = item.ID})'"/>


                    <input type="button" title="Edit" value="Details" class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "Tickets", new {id = item.ID})'"/>

                    <input type="button" title="Delete" value="Delete" class="btn btn-primary" onclick="location.href = '@Url.Action("Delete", "Tickets", new {id = item.ID})'"/>

                }
                @if (item.ConsultantName == null)
                {
                    <input type="button" itle="Review" value="Review" class="btn btn-primary" onclick="location.href = '@Url.Action("Review", "Tickets", new {id = item.ID})'"/>
                }
            </td>
        </td>
    </tr>
}

</table>
