@using System.Web.UI.WebControls
@model IEnumerable<TSAR.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Tickets</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <div>

            <a id="button" href="@Url.Action("Create")" class="btn btn-primary">Create</a>
        </div>
    }
    <br />
    <div align="center">

        <a id="button" href="@Url.Action("MyTickets")" class="btn btn-primary">My Tickets</a>
    </div>
</p>
@using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
{
    <b>Status</b><font color="black">@Html.DropDownList("status", new SelectList(ViewBag.Status), new { onchange = "this.form.submit()" })</font>
}
<div style="overflow-x: auto">
<table class="table bg-light-gray">
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.TicketReference)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultDescription)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
           @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
       @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.ConsultantName)
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.TicketReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.FaultDescription)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantName)
            </td>
            <td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <input type="button" title="Edit" value="Edit" class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "Tickets", new {id = item.ID})'" />


                        <input type="button" title="Edit" value="Details" class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "Tickets", new {id = item.ID})'" />

                        <input type="button" title="Delete" value="Delete" class="btn btn-primary" onclick="location.href = '@Url.Action("Delete", "Tickets", new {id = item.ID})'" />

                    }
                    @if (item.ConsultantName == null)
                    {
                        <input type="button" title="Review" value="Review" class="btn btn-primary" onclick="location.href = '@Url.Action("Review", "Tickets", new {id = item.ID})'" />
                    }
                </td>
            </td>
        </tr>
    }

</table>
    
    </div>
