@model TSAR.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientUsername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingId }) |
    <a id="button" href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
