@model IEnumerable<TSAR.Models.Budget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <font color="White">@Html.DisplayNameFor(model => model.Client.ClientName ) </font>
        </th>
        <th>
            <font color="White">    @Html.DisplayNameFor(model => model.Balance)</font>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <font color="gold">      @Html.DisplayFor(modelItem => item.Client.ClientName)</font>
            </td>
            <td>
                <font color="gold">       @Html.DisplayFor(modelItem => item.Balance)</font>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BudgetCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.BudgetCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BudgetCode })
            </td>
        </tr>
    }

</table>
